@charset "ISO-8859-1";

.form-control{
	width:20%;
	display:inline-block;
}
.table{
	width:75%;
}


#backLogin{
	text-decoration:none;
	border:1px solid black;
	color:black;
	padding:8px;
}
.fgtBtn:hover{
	background-color:green;
}